@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders+Display:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {

    /* ! ------FONTS------- */
    --font-poppins: "Poppins", "sans-serif"; 
    --font-bsd: "Big Shoulders Display", "sans-serif"; 
    --font-roboto: "Roboto", "sans-serif"; 
    --font-anton: "Anton", sans-serif;


    /* ! ------COLORS------- */
    --color-is1: #ff5758;

    /* ! ------FONT SIZE------ */
    --text-10xl: 8rem;
    --text-11xl: 12rem;
  }